<% @users.each do |user| %>
  <div class='user-main'>
    <% if user.photo.attached? %>
      <image class='user-photo' src="<%= (url_for(user.photo))%>">
    <% end %>
    <div class='user-container'>
      <p><%= link_to user.name, user %></p>
      <p class='post-counter'>Number of posts: <%= user.post_counter.to_i.presence || 0 %></p>
    </div>
  </div>
<% end %>


