<div class='post-form'>
<%= form_with model: [@user, @post], url: user_posts_path(@user), data: { turbo: false } do |form| %>
  <%= form.text_field :title, placeholder: "Title" %>

  <%= form.text_area :text, placeholder: "Description" %>

  <%= form.submit "Create Post", class: "form-button" %>
<% end %>
</div>
